<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
      h1 { color: red }
      p { color: blue;
          font-size: 16px; }
    </style>

  </head>
  <body>
      <h1>Hello {{displayName}}</h1>
      <p>{{text}}</p>
      <p>Would you like to learn more about <strong>{{tech}}</strong>?</p>
      <p>Then, <strong>{{objective}}</strong> is for you!</p>

      <p>Would you like to learn more about <strong>{{tech2}}</strong>?</p>
      <p>Then, <strong>{{objective2}}</strong> is for you!</p>
  </body>
</html>